body{
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
background-color:  #F3F1FF;

}
.navbar-nav{
    margin-left: auto !important;
   
  
    
}

.top-player h3{
    
    padding-top: 40px;
    padding-bottom: 30px;
    color: #562EFF;
}
.navbar img {
    width: 40px;
}
.player img{
    width: 56px;
}
main{
    width: 870px;
    padding-bottom: 20px;
    
}
.top-player{
    background-color:  #FFFFFF;
    padding-left: 70px;
}
.boder p{
    border: 1px solid #D1D1D1;
    margin-right: 60px;
}
.blog img{
    width: 215px;
}
.blog-text p{
    color: #9F9F9F;
}
.blog-text{
    margin-left: 20px;
}
span{
    color: #562EFF;
}
.card-all img{
    width: 265px;
}
.card-all p{
    color: #ED6B4F;
}
.card{
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    
}
.last{
    width: 870px;
    background-color:  #FFFFFF;
    margin-bottom: 20px ;
}
.last h3{
    color:  #562EFF;
    padding-top: 30px;
    padding-bottom: 30px ;
}
.clock {
    border: 5px black;
    border-radius: 15px ;
    background-color: rgb(233, 94, 94);
    color: lightgrey;
    padding: 5px;
    margin-left: 60px;
    
}
span{
    margin-left: 5px;
}
